* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
h1,
h2,
h4 {
  font-family: "Play", sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 64px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 48px;
  @media screen and (max-width: $bp-tablet) {
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 32px;
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-position: 50% 61%;
  font-weight: 400;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-main);
  @media screen and (max-width: $bp-desktop) {
    background-position: 50% 61%;
  }
  @media screen and (max-width: $bp-tablet) {
    background-position: 39% 36%;
  }
}
.link {
  line-height: 1.2;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  &--redused {
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--light-backgraund);
    @media screen and (max-width: $bp-desktop) {
      font-size: 14px;
    }
  }
}
.link:hover {
  font-weight: 700;
  color: var(--title-blue);
}
.vizual-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
