.main-button {
  text-align: center;
  &__btn {
    padding: 16px 32px;
    border-radius: 32px;
    background-color: var(--title-blue);
    color: var(--light-backgraund);
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    border: none;
    margin-bottom: 14px;
  }
  &__info {
    color: var(--dark-grey);
    font-size: 12px;
    line-height: 1.5;
    padding: 0 40px;
  }
}

/*prosedures button*/
.btn-procedures {
  justify-content: center;
  display: flex;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid var(--text-main);
  &__left {
    transform: rotate(180deg);
  }
  &:hover {
    border: 2px solid var(--light-backgraund);
    background-color: var(--title-blue);
    fill: var(--light-backgraund);
  }
}
