.contacts-section {
  @media screen and (max-width: $bp-tablet) {
    padding-top: 40px;
  }
  &__container {
    padding: 0 96px;
    display: flex;
    gap: 32px;
    @media screen and (max-width: $bp-desktop) {
      padding: 0;
      gap: 16px;
    }
    @media screen and (max-width: $bp-tablet) {
      flex-direction: column-reverse;
      padding: 0;
      gap: 24px;
    }
  }
  &__box {
    background-image: url(../images/form-decor.svg);
    border-radius: 32px;
    background-color: var(--text-main);
    padding: 48px 56px;
    flex-grow: 1;
    @media screen and (max-width: $bp-tablet) {
      padding: 42px 40px;
    }
  }
  &__text {
    color: var(--light-backgraund);
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0 0 32px;
    @media screen and (max-width: $bp-tablet) {
      margin: 0 0 24px;
    }
  }
  &__map {
    border: none;
    flex-basis: 100%;
    border-radius: 32px;
    width: 600px;
    height: 480px;
    @media screen and (max-width: $bp-desktop) {
      width: 320px;
    }
    @media screen and (max-width: $bp-tablet) {
      width: 100%;
      height: 232px;
      border-radius: 0;
    }
  }
  &__map-mobile {
    @media screen and (max-width: $bp-tablet) {
      margin: 0 -24px;
    }
  }
}
