.header {
  @media screen and (min-width: $bp-desktop) {
    backdrop-filter: blur(6px);
  }
  padding-top: 32px;
  position: absolute;
  width: 100%;

  &__container {
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.1;
    align-items: center;
    display: flex;
    gap: 240px;
  }
  &__list {
    flex-basis: 100%;
    display: flex;
    gap: 56px;
    justify-content: space-between;
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__nav {
    align-items: center;

    display: flex;
    gap: 240px;
  }

  &__iteam {
    text-decoration: none;
    color: var(--text-main);
  }
  &__logo {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 0.9;
    color: var(--title-blue);
  }
  &__burger-menu {
    display: none;
    border: none;
    fill: var(--light-backgraund);
    background-color: transparent;
    @media screen and (max-width: $bp-desktop) {
      display: block;
    }
  }
}
