.icon {
  display: flex;
  gap: 32px;
  fill: var(--text-main);
  @media screen and (max-width: $bp-desktop) {
    display: none;
  }

  &--lighted {
    fill: var(--light-backgraund);
    @media screen and (max-width: $bp-desktop) {
      display: flex;
      justify-content: center;
    }
  }
}
