.procedures-section {
  @media screen and (max-width: $bp-tablet) {
    padding-top: 40px;
  }
  &__box {
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    gap: 32px;
    @media screen and (max-width: $bp-tablet) {
      gap: 0;
    }
  }

  &__container {
    overflow: hidden;
    padding-bottom: 20px;
  }
}
