.input {
  background-color: var(--text-main);
  border-radius: 32px;
  border: 1.5px solid var(--dark-grey);
  padding: 16px 24px;
  flex-basis: 100%;
  font-size: 13px;
  color: var(--light-backgraund);
  &::placeholder {
    color: var(--light-backgraund);
  }
  @media screen and (max-width: $bp-tablet) {
    flex-basis: 100%;
  }

  &:focus {
    background-color: var(--dark-grey);
    border-color: 1.5px solid var(--dark-grey);
    color: var(--light-backgraund);
    outline: none;
    &::placeholder {
      font-size: 13px;
      color: var(--light-backgraund);
    }
  }
}
